<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @album.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @album.year %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @album.artist %>
</p>

<%= link_to 'Back', admin_albums_path %>
