<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <h1><%= @artist.name %></h1>
<p>
  <strong>Date of birth:</strong>
  <%= @artist.dob %>
</p>

<p>
  <strong>Place of birth:</strong>
  <%= @artist.placeOfBirth %>
</p>

<p>
  <strong>State:</strong>
  <%= @artist.state %>
</p>

<p>
  <strong>Address:</strong>
  <%= @artist.address %>
</p>
</div>

<p id="notice"><%= notice %></p>

<div class="panel panel-success">
  <div class="panel-heading"><h4>Albums </h4></div>
  <div class="panel-body">
    <table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Year</th>
      <th>Artist</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @albums.each do |album| %>
      <tr>
        <td><%= album.name %></td>
        <td><%= album.year %></td>
        <td><%= album.artist.name %></td>
        <td><%= link_to 'Show', album_show_path(album) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

  </div>
</div>

<div class="panel panel-success">
  <div class="panel-heading"><h4>Songs </h4>
</div>
  <div class="panel-body">

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Artist</th>
      <th>Album</th>
      <th>Genre</th>
      <th>Duration</th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.name %></td>
        <td><%= song.artist.name %></td>
        <td><%= song.album.name %></td>
        <td><%= song.genre.name %></td>
        <td><%= song.duration %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>


<%= link_to 'Back to list', artists_home_path %>
