<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @artist.name %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @artist.dob %>
</p>

<p>
  <strong>Placeofbirth:</strong>
  <%= @artist.placeOfBirth %>
</p>

<p>
  <strong>State:</strong>
  <%= @artist.state %>
</p>

<p>
  <strong>Address:</strong>
  <%= @artist.address %>
</p>

<%= link_to 'Back', artists_path %>
