<h3>Welcome Admin</h3>


Number of users: <%= numOfAlbums() %>
Number of artists: <%= numOfArtists %>
Number of genres: <%= numOfGenres %>
Number of albums: <%= numOfAlbums %>
Number of songs: <%= numOfSongs %>
