<h2>Welcome Admin</h2>
<h3>Number of users: <%= numOfAlbums() %></h3>
<h3>Number of artists: <%= numOfArtists %></h3>
<h3>Number of genres: <%= numOfGenres %></h3>
<h3>Number of albums: <%= numOfAlbums %></h3>
<h3>Number of songs: <%= numOfSongs %></h3>