<p id="notice"><%= notice %></p>
  <div id="modal-window" class="modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <% if logged_in? %>
    <%= render 'shared/playlist_song' %>
    <% end %>
  </div>
<div class="jumbotron">
  <h1><%= @album.name %></h1>
<p>
  <strong>Name:</strong>
  <%= @album.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @album.year %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @album.artist %>
</p>
</div>

<div class="panel panel-success">
  <div class="panel-heading"><h4>Songs </h4>
</div>
  <div class="panel-body">

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Artist</th>
      <th>Album</th>
      <th>Genre</th>
      <th>Duration</th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.name %></td>
        <td><%= song.artist.name %></td>
        <td><%= song.album.name %></td>
        <td><%= song.genre.name %></td>
        <td><%= song.duration %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>

<%= link_to 'All albums', albums_home_path %>

